DB_HOST=db
DB_PORT=3306
DB_USER=app
DB_PASSWORD=cambia_este_secreto
DB_NAME=appdb

MYSQL_ROOT_PASSWORD=cambia_este_root_secreto

FLASK_DEBUG=0
PORT=5050

DOZZLE_AUTH_USER=admin
DOZZLE_AUTH_PASSWORD_HASH=cambia_este_hash_bcrypt